.root {
  background: #329bc661;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
  justify-self: flex-start;
  flex-shrink: 1;
  min-width: 0;
  padding: 16px 32px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    justify-content: center;
    align-items: center;
    padding: 6px 14px 8px;
  }
}
.zazuBtn:global(.__wab_instance) {
  max-width: 100%;
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .zazuBtn:global(.__wab_instance) {
    display: none;
  }
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}
.link__ypPuC {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  left: auto;
  top: auto;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__ypPuC > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ypPuC > :global(.__wab_flex-container) > *,
.link__ypPuC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ypPuC > :global(.__wab_flex-container) > picture > img,
.link__ypPuC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___4Hq0B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.span___5AUxn {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__tbu2K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__rglhe {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  left: auto;
  top: auto;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__rglhe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__rglhe > :global(.__wab_flex-container) > *,
.link__rglhe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__rglhe > :global(.__wab_flex-container) > picture > img,
.link__rglhe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__fntRq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.span__phjX9 {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.svg___5KIgC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
  display: none;
}
.link__kQbsr {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  left: auto;
  top: auto;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__kQbsr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__kQbsr > :global(.__wab_flex-container) > *,
.link__kQbsr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__kQbsr > :global(.__wab_flex-container) > picture > img,
.link__kQbsr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__cdwsN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.span__yfFk9 {
  font-weight: 400;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg___2SrYf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.button__owmGf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.svg__rJyRs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__dsiah {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
