.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#1011112e, #1011112e),
    url("/plasmic/saa_s_website/images/pexelsEarano1350197Jpg.jpg") top 50% left 50% / cover repeat;
  overflow: auto;
  position: relative;
  min-width: 0;
  padding: 70px 24px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 940px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 22px;
  color: var(--token-5AXRJHMozJVB);
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    padding: 0px;
  }
}
.text__crU3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 33px;
  text-align: center;
  color: var(--token-5AXRJHMozJVB);
  min-width: 0;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 500px;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  color: var(--token-jgohepLVeKvh);
  background: var(--token-5flkhAz6pTxg);
  min-width: 0;
  padding: 8px;
}
.formField__ykw1:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___32M6U {
  color: var(--token-jgohepLVeKvh);
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 35px;
}
.formField___2QyWt:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__mGxBh {
  color: var(--token-jgohepLVeKvh);
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 35px;
  margin-bottom: 0px;
}
.formField__eNpBk:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  user-select: text;
  white-space: pre-wrap;
  min-width: 0;
}
.text__tp8X2 {
  color: var(--token-jgohepLVeKvh);
}
.textareaForm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 198px;
  margin-bottom: 0px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: var(--token-8dZ4yCO3o-Zj);
  width: 119px;
  margin-bottom: 0px;
  height: 38px;
}
.text__vkVtn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
