.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__cytzu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-buMjPnPjzJt2);
  min-width: 0;
  padding: 0px;
}
.freeBox__rWzFt {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rWzFt {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns__uLxkX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__uLxkX > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  --plsmc-rc-col-gap: 0px;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.columns__uLxkX > :global(.__wab_flex-container) > *,
.columns__uLxkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__uLxkX > :global(.__wab_flex-container) > picture > img,
.columns__uLxkX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
.columns__uLxkX > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__uLxkX > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uLxkX {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uLxkX > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uLxkX > :global(.__wab_flex-container) > *,
  .columns__uLxkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__uLxkX > :global(.__wab_flex-container) > picture > img,
  .columns__uLxkX
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__uLxkX > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sYvAa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__smZ4T {
  display: flex;
  position: absolute;
  flex-direction: column;
  background: #0f22229c;
  width: 100%;
  height: auto;
  margin-right: -373px;
  left: 187px;
  top: 98px;
  z-index: 111;
  min-width: 0;
  padding: 30px;
  border-left: 8px solid var(--token-ENAwz5nPhuxr);
}
.freeBox__smZ4T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__smZ4T > :global(.__wab_flex-container) > *,
.freeBox__smZ4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__smZ4T > :global(.__wab_flex-container) > picture > img,
.freeBox__smZ4T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__smZ4T {
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    background: #0f22229c;
    width: 100%;
    height: auto;
    z-index: 111;
    min-width: 0;
    padding: 30px;
    margin: 0px;
    border-left: 8px solid var(--token-ENAwz5nPhuxr);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__smZ4T > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__smZ4T > :global(.__wab_flex-container) > *,
  .freeBox__smZ4T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__smZ4T > :global(.__wab_flex-container) > picture > img,
  .freeBox__smZ4T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.h1 {
  color: var(--token-5AXRJHMozJVB);
}
.text__dWaC {
  margin-top: calc(0px + 16px) !important;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: var(--token-5AXRJHMozJVB);
  min-width: 0;
}
.column__rcwL0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__dTixf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__dTixf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__dTixf {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__dTixf > picture > img {
    object-fit: cover;
  }
}
.freeBox__nnjI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: var(--token-ENAwz5nPhuxr);
  min-width: 0;
  padding: 8px;
}
.freeBox__hZlvx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  min-width: 0;
  padding: 36px 8px 42px;
}
.columns__iE3Sf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__iE3Sf > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.columns__iE3Sf > :global(.__wab_flex-container) > *,
.columns__iE3Sf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__iE3Sf > :global(.__wab_flex-container) > picture > img,
.columns__iE3Sf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 10px;
}
.columns__iE3Sf > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__iE3Sf > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iE3Sf {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iE3Sf > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iE3Sf > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__yq3X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__ocVf9 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__ocVf9 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__ocVf9 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ocVf9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__ocVf9 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kaF0P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__qUuEk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__qUuEk > picture > img {
  object-fit: cover;
}
.column__nFp6Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__nkf61 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__zAzG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__zAzG {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__wfi8Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__wQGgg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0SLai {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qUfpn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___4Nqxq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__doJgl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__doJgl > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__doJgl > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__doJgl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__doJgl > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__duXck {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__ddVhV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ddVhV > picture > img {
  object-fit: cover;
}
.column__mmUEb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox___8DCqX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__smHxp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__smHxp {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text___0VRlX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__os51G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___0Tue6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vKia7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__edrLv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__hUsca {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__hUsca > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__hUsca > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hUsca {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__hUsca > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__hceb6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__y5Tue {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__y5Tue > picture > img {
  object-fit: cover;
}
.column__oVuzj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__w9J7L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__l0N1F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__l0N1F {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__sJbW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__js7Ln:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__wnGa7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nqWpc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___6Vxap {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__x8EG2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__x8EG2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__x8EG2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__x8EG2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__x8EG2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__i56AS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__tgb4T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__tgb4T > picture > img {
  object-fit: cover;
}
.column__vaRqe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox___9SNxk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__nFbT1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__nFbT1 {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__vrTob {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__c2KdR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___2HYcC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__sxig {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___3SM1M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__mCvtO {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__mCvtO > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__mCvtO > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__mCvtO {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__mCvtO > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ndkCf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__yZ1N9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__yZ1N9 > picture > img {
  object-fit: cover;
}
.column__nyZkt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__ke9S0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.h4__uN84A {
  position: relative;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__uN84A {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__ttQce {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__cYf6G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jxXu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ux4Kv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__lBjg8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__pTtv5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__pTtv5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__pTtv5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pTtv5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__pTtv5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__nJ3A2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___9EzXf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img___9EzXf > picture > img {
  object-fit: cover;
}
.column__oQ8Xt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__voJqV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__q3Phi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__q3Phi {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__yKkIu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__jzIw9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__ufEit {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pzM01 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__kHkKr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__qwGin {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__qwGin > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__qwGin > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qwGin {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qwGin > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eSt8R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__nOhi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img__nOhi > picture > img {
  object-fit: cover;
}
.column__kuTbF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__ybclX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__u4P43 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__u4P43 {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__cuVkv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button__hwW0Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fmcq2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lIbqb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___7VEmi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__iNLui {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__iNLui > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__iNLui > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iNLui {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__iNLui > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__wTy1G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___1G90I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.img___1G90I > picture > img {
  object-fit: cover;
}
.column__kpeO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 20px;
}
.freeBox__nNnGx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__etFyp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 262px;
  min-width: 0;
  margin: 0px 0px 0.5em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__etFyp {
    font-size: 20px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
    margin: 0px 0px 0.5em;
  }
}
.text__icrdc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  margin: 0px 0px 1em;
}
.button___53JzU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cXfK2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___4H4KK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
